body {
    background-color: slategray;
}

table {
    border-style: solid;
    border-color: black;
    width: 100%;
    height: 100%;
}

canvas {
    border-style: groove;
    border-color: antiquewhite;
}

h1 {
    border-style: groove;
    border-color: antiquewhite;
}

div {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

tr {
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

button {
    width: 100%;
    height: 100%;
}

td.buttonMenuCell {
    width: 100%;
    height: 33%;
}

td.globalPropertyCell {
    width: 5%;
    height: 100%;
    float: left;
}

span.propertyItem {
    font-size: 10px;
    font-family: monospace;
    float: right;
}

input.globalNumericInput {
    width: 45;
    height: 25;
}

input[type='number'] { 
    font-size: 10px;
    font-family: monospace;
}

button.imageListButton {
    width: 64;
    height: 64;
}
    