
/* General */
body 
{
    background-color: #889ba1;
}

table 
{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

canvas 
{
    background: #eef0f1;
    height: 100%;
    width:  100%;
}

div 
{
    width: 100%;
    height: 100%;
}

tr 
{
    width: 100%;
    vertical-align: top;
}

button 
{
    width: 100%;
    height: 100%;
    background: #3c4f54;
    border: 1px solid #2f444a;
    padding: 0;
    color: antiquewhite;
}

span
{
    color: antiquewhite;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

input[type="number"] 
{
  background-color: #283a40;
  border: 1px solid #000000;
  color: antiquewhite;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

select 
{
  background-color: #283a40;
  border: 1px solid #000000;
  color: antiquewhite;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}


/* Bottom Property Bar */
table.propertyTable
{
    background: #4d656c;
    padding-right: 2;
}

tr.propertyRow 
{
    height: 20%;
}

tr.propertyTitleRow
{
    height: 12px;
}

span.propertyGroupTitle
{
    font-size: 12px;
    font-family: monospace;
    float: left;
}

td.buttonMenuCell {
    width: 100%;
    height: 33%;
}

td.propertyCell {
    height: 30px;
    vertical-align: top;
    padding-left: 5;
    float: inherit;
    vertical-align: middle;
    background: #3c4f54;
}

td.propertyMenuCell {
    float: left;
    height: 100%;
    width: 12%;
}

tr.layerRow
{
    display: inline-table;
}

td.layerMenuCell
{
    width: 24%; 
    height: 100%;
    float: left;
    background: #4d656c;
    overflow-y: scroll;
}

td.categoryMenuCell
{
    width: 100%; 
    height: 100%;
    float: left;
    background: #4f6065;
    border-radius: 3px; 
    overflow-y: scroll;
}

span.propertyItem {
    font-size: 10px;
    font-family: monospace;
    float: right;
}

input.numericInput {
    width: 45;
    height: 25;
}

input[type='number'] { 
    font-size: 10px;
    font-family: monospace;
}

table.layerChildTable
{
    width:80%;
    background: #698188;
    border: 0;
}

tr.layerChildRow
{
    width:100%;
    display: inline-flex;
    height: 20px;
}

td.layerChildCell 
{
    width:100%;
    height: 20px;
    display: inline-block;
    padding-right: 15;
    padding-left: 5;
}

span.layerChildSpan
{
    width: 100%;
    height: 15px;
    display: inline-block; 
    font-size: 10px;
    font-family: monospace;
    border: 1px solid #283a40;
    background: #567179;
    padding-left: 10px;
    align-content: left;
}

button.layerButton
{
    width: 100%;
    height: 20px;
    border: 1px solid #283a40;
    padding: 0;
    background: #314145;
    align-content: left;
}

span.categoryTitle
{
    width: 100%;
    height: 20px;
    background: #6b7679;
    font-family: monospace;
    padding: 0;
    display: table;
}

span.categoryChildRect
{
    width: 100%;
    height: 15px;
    display: table-footer-group;; 
    font-size: 10px;
    font-family: monospace;
    background: #7a878b;
    padding-left: 10px;
}


/* Image Sidebar */
table.sidebarTable
{
    background: #4d656c;
}

button.imageListButton 
{
    width: 66;
    height: 68;
    padding: 2;
    border: none;
    background: #5c7981;
}

div.imagePalette {
    overflow-y: scroll;
    border: 1px solid black;
}

div.paletteDiv {
    border: 1px solid black;
}

button.brushButton {
    width: 36px;
    height: 36px;
    padding: 2;
    border: none;
    background: #a1b0b5;
}

td.canvasModeButtonCell {
    width: 50%;
    height: 100%;
    padding: 0;
}

button.canvasModeButton {
    height: 24px;
}


/* Main Canvas */
table.canvasTable
{
    background: #4d656c;
}

canvas.mainCanvas
{
    margin-left: 1;
    margin-top: 1;
    border: 1px solid black;
}

.vertical-scroll
{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    background: #627276;
    border: 1px solid #2a373a;
}

.horiz-scroll
{
    background: #627276;
    border: 1px solid #2a373a;
    width: 100%;
}

.thumb
{
    left:0px;
    top:0px;
    width:25px;
    background: #303f43;
    height: 25px;
    position: relative;
}



    